    
    <table *ngIf="val" align="center" border="5"  >   
    <thead>
        <tr> 
          <th (click)='change("BOOKID")'>BOOKID</th>    
          <th (click)='change("BOOKNAME")' >BOOKNAME</th>    
          <th (click)='change("BOOKCOST")'>BOOKCOST</th>    
          <th (click)='change("AUTHOR")'>AUTHOR</th> 
          <th (click)='change("delete")'>Delete Book</th> 
          <th (click)='change("edit")'>Edit Book</th> 
         <!-- <th colspan="2">Action</th>-->       
        </tr>  
      </thead>  
      <tbody>
        
        <tr *ngFor="let emp of empList | orderBy:column ">  
          <td >{{emp.BOOKID}}</td> 
          <td >{{emp.BOOKNAME}}</td>       
          <td >{{emp.BOOKCOST}}</td> 
          <td>{{emp.AUTHOR}}</td> 
          <td><button (click)="onclickDeleteDetails(emp)" class="btn btn-primary">Delete</button></td>  
          <td><button (click)="onclickUpdateDetails(emp)" class="btn btn-primary">Edit</button></td>
        </tr>   
      </tbody> 
      </table>
      <pre *ngIf="val1">
        BOOKID         :<input [(ngModel)]="BOOKID"    required pattern="[1-9]{1,10}" title="BOOKID should only contain digit . e.g. 1525"/>   
        BOOKNAME       :<input [(ngModel)]="BOOKNAME"   required pattern="[A-Z][a-z]{4,15}" title="BOOKNAME should only contain upper and lower case letters . e.g. c programming"/>
        BOOKCOST       :<input [(ngModel)]="BOOKCOST"   required pattern="[0-9]{3,7}" title="BOOKCOST should only contain digit . e.g. 50000"/>
        AUTHOR          :<input [(ngModel)]="AUTHOR"  required  pattern="[A-Z][a-z]{3,15}" title="AUTHOR should only contain upper and lower case letters . e.g. charles"/>
       <button (click)="onclickUpdate()" class="btn btn-success">Update Details</button>
        </pre>
    
