
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
        <td> <button class="btn btn-primary"> Update </button> </td>
        <td> <button (click)="delete(employee)" class="btn btn-primary"> Delete </button> </td>
      </tr>
    </tbody>
</table>
